.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

node_modules/
dist/
buid/
coverage/
.env
.env.*
*.log
.DS_store
Thumbs.db

frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env
frontend/.env.*
frontend.cache/
frontend/.parcel-cache/
frontend/.eslintcache

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/coverage/

backend/target/
backend/build/
backend/*.env
backend/out/
backend/uploads/
backend/*.log
backend/src/main/resources/application.properties

*.class
*.jar
*.wrapper
*.ear
*.iml
*.ipr
*.iws