* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#root, .App{
  height: 100%;
}

header {
  height: 50px;
  background-color: #ffffff;
  box-shadow: 0px 5px 13px #0003;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

header button, header i{
  color: #191B19 !important;
}

.logo{
  height: 40px;
  padding: 10px;
}

.search-container {
    position: relative;
    margin-right: 20px;
    width: 45%;
}

.main-searcher{
  width: 100%;
  height: 40px;
  font-size: 13px;
  display: block;
  padding-block: 0;
  padding-inline: 2rem 0;

  border-color: #00000054;
  border-width: 1px;;
  border-radius: 5rem;

  background-color: transparent;
}

#search-icon{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #0000004d !important;
}

.btn{
  width: 110px;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid;

  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn.textOnly{
  width: auto;
  text-wrap: nowrap;
  font-size: 14px;
  background-color: transparent;
  border-color: transparent;
  font-weight: normal;
}

.btn.regular{
   background-color: transparent;
  border-color: #0b62fe;
  color: #0b62fe !important;
}

.btn.full{
  background-color: #0b62fe;
  border-color: #0143be;
  color: #ffffff !important;
}

.btn-icon{
  font-size: 16px;
  border: none;
  background-color: transparent;
}

.header-container{
  display: flex;
  gap: 10px;
}
.header-icons{
  display: flex;
  gap: 15px;
  margin: 0 30px;
}

.user-icon{
  font-size: 30px;
}

.error{
    color: red;
    font-size: 14px;
    text-align: center !important;
    margin: 0;
}


