h1{
    margin: 0;
}

p{
    padding: 0;
    margin :0;
}

p.dimmed{
    width: 70%;
    margin-bottom: 40px;
    padding: 0 50px !important;
    color: #868686;
    font-size: 12pt !important;
    text-align: center !important;
}

.double-container{
    display: flex;
    flex-direction: row;
    gap: 15px;

    width: 100vw;
    height: 80%;
}

.register-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0 80px !important;
}

.register-form p{
    margin-bottom: 30px !important;
    text-align: center;
}

form{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px
}

input{
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.register-image{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-image img{
    margin-top: 50px;
    width: 75%;
    height: auto;
}