<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Perfil padrão: quando você roda local, sem nenhuma env var definida -->
    <springProfile name="default">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>[ %highlight(%-5level)] [%cyan(%d{dd/MM/YYYY HH:mm:ss.SS})] [%thread] - %msg%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>
    </springProfile>

    <!-- Perfil prod: quando SPRING_PROFILES_ACTIVE=prod estiver definido no Render -->
    <springProfile name="prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <charset>UTF-8</charset>
            </encoder>
        </appender>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>